h1{
    text-align: center;
  }
  body{
    background-color: rgb(255, 236, 236);
  }
  button {
      border: none;
      outline: none;
      background-color: #9affba;
      padding: 10px 5px;
      font-size: 12px;
      font-weight: 700;
      color: black;
      border-radius: 5px;
      transition: all ease 0.1s;
      box-shadow: 0px 5px 0px 0px #a6f5af;
    }
    
    button:active {
      transform: translateY(5px);
      box-shadow: 0px 0px 0px 0px #a29bfe;
    }